@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
html{
    height: 100%;
}
*{
    padding:0;
    margin:0;
    font-family: 'Cabin', sans-serif;
}
body{
    background-image: url(redbg.jpg) ;
    background-size: 100% 100%;
    background-position:100%;
    background-repeat: no-repeat;
    background-color: rgba(129, 19, 19, 0.2);
    backdrop-filter: blur(3px);
    height: 100%;
    background-blend-mode: overlay;
}
a{
    color: white;
    text-decoration: none;  
    transition: all 300ms  ease-in-out;
}

a:hover{
    transition: all 300ms  ease-in-out;
    font-size: 30px;
}

.navbar{
    background: rgba(199, 13, 13, 0.532);
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.about-section{
    margin: 10% 0 0 15%;
    color: rgba(207, 49, 21, 0.707);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 30%;
    animation: bgmove 4s infinite;
}

@keyframes bgmove {
0%  {
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 20px;
    padding:40px 40px;
}
100% {
    background-color:rgba(255, 0, 0, 0.3);
    border-radius: 20px;
    padding:40px 40px;
}    
}

header>h3{
    width: fit-content;
    letter-spacing: 4px;
    font-size: 60px;
    text-decoration:underline;
    text-shadow: 0px 0px 4px rgba(207, 49, 21, 0.707);
}

.about-text{
    text-align:justify;
    margin-top: 10px;
    text-shadow: 0px 0px 4px rgba(207, 49, 21, 0.707);
    font-size: 1.5em;
}
